<div class="container h-100">
  <div class="row justify-content-center text-primary">
    <h1 class="mt-5">Fulfillment Foto App </h1>
  </div>

 <!-- <div *ngIf="imageModel; else makefoto" class="row justify-content-center align-items-center">
    <app-image [imageModel]=imageModel></app-image>
  </div>-->

  <!--<app-spinner [name]="spinner" [(show)]="showSpinner" class="spinner"></app-spinner>-->

  <!--<ng-template #makefoto>
    <div *ngIf="isMakingPhoto" class="makefoto row justify-content-center align-items-center">
      <app-no-image-available [sonum]="query?.value" (takenPhotoEvent)="setImageModel($event)" class="row"></app-no-image-available>
    </div>
  </ng-template>-->

  <router-outlet></router-outlet>

  <!--<div *ngIf="newImage" class="row justify-content-center align-items-center">-->
    <!--<app-new-image class="row"></app-new-image>-->
  <!--</div>-->

  <!--<div class="row justify-content-center align-items-center" [class.h-100]="h100" *ngIf="!isMakingPhoto">-->
    <!--<div class="col-8">-->
      <!--<div class="form-group">-->
        <!--<label for="sonum">Barcode</label>-->
        <!--<input-->
          <!--#query-->
          <!--(keyup)="checkPhotoExist($event, query.value)"-->
          <!--type="text"-->
          <!--appAutofocus-->
          <!--class="form-control"-->
          <!--id="sonum">-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <!--<img [src]="imageToShow"-->
  <!--alt="Place image title"-->
  <!--*ngIf="!isImageLoading; else noImageFound">-->
  <!--<ng-template #noImageFound>-->
  <!--<img src="fallbackImage.png" alt="Fallbackimage">-->
  <!--</ng-template>-->


</div>


