<div class="wrapper">
  <app-spinner [name]="spinner" [(show)]="showSpinner" class="spinnerCard"></app-spinner>
  <div class="card">
    <!--<img class="card-img-top" src="">-->
    <div class="card-body">
      <div class="card-text">
        <div class="camera">
          <i class="fas fa-camera"></i>
        </div>
        <div class="name mb-3">
          <p>Machen Sie bitte, ein Foto von gerade gescannten Artikel</p>
        </div>

        <!--<button type="button" class="btn btn-success btn-lg">Foto fertig</button>-->
        <!-- /.button-foto-ready -->
      </div>
    </div>
  </div>

</div>
<!--<div class="modal-foto">-->
<!--<p>Machen Sie bitte ein Foto!!!</p>-->
<!--<app-spinner [name]="spinner" [(show)]="showSpinner" class="spinnerCard"></app-spinner>-->
<!--</div>-->
<!-- /.modal -->

<!--<a href="/" class="fa-4x">-->
<!--<span class="fa-layers fa-fw">-->
<!--<i class="fas fa-circle" style="color:Tomato"></i>-->
<!--<i class="fa-inverse fas fa-times" data-fa-transform="shrink-6"></i>-->
<!--</span></a>-->

<!--<div *ngIf="true" class="spinner hide" style="font-size:7rem;">-->
<!--<i class="fas fa-spinner fa-spin"></i>-->
<!--</div>-->

<!--<div>-->
<!--<button type="button" class="btn btn-primary btn-lg">Zurück</button>-->
<!--</div>-->



